header {
    display: flex;
    justify-content: space-between;
    align-items:flex-end;
    padding-right: 4rem;
    padding-bottom: 0.25rem;
}

h1{
    font-family: 'Montserrat', sans-serif; font-weight: 700;
    color: #b2b2b2;
    margin-top: 2rem;
    margin-left: 4rem;
    font-size: 24pt;
}

h2{
    font-family: 'Montserrat', sans-serif; font-weight: 500;
    color: #b2b2b2;
    margin-top: 5rem;
    margin-left: 4rem;
    font-size: 18pt;
}

p{
    font-family: 'Montserrat', sans-serif; font-weight: 400;
    color: #b2b2b2;
}

nav{

}


ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: #b2b2b2;
}

a:hover {
    color: #dbdbdb;
   
    transition: all 0.2s ease 0s;

}

a:active {
   text-decoration: underline;
   color: #dbdbdb;
}

li{
    font-family: 'Montserrat', sans-serif; font-weight: 500;
    font-size: 12pt;
}

.menu{
  display: flex;
  flex-direction: row;
  justify-content: right;
  margin-right: 4rem;
  margin-top: 700px;
  margin-bottom: 4rem;
}

.title{
    margin-bottom: 1rem;
}

.img-1{
    border: .25px solid #b2b2b2;
}

.img-2{
    border: .25px solid #b2b2b2;
}

.img-3{
    border: .25px solid #b2b2b2;
}

.img-4{
    border: .25px solid #b2b2b2;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 1.5rem;
    grid-row-gap: 1.5rem;
    margin-left: 4rem;
    margin-right: 4rem;
}

.img-3{
    grid-column-start: 2;
    grid-column-end: 3;
}

.img-4{
    grid-column-start: 1;
    grid-row-start: 2;
}

.description {
    grid-row-start: 3;
    grid-column-start: 2;
    grid-column-end: 3;
}

.description-2 {
   grid-row-start: 2;
    grid-column-start: 2;
    grid-column-end: 3;
}

@media (max-width: 500px) {
    h1{
        font-size: 18pt;
    }
    
    h2{
        font-size: 14pt;
    }

    
}
