/* screen - desktop-2 */

.desktop-2 {
  background-color: var(--white);
  height: 892px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 1280px;
}

.desktop-2 .rectangle-17-9Mbqq5 {
  background-color: var(--white);
  height: 797px;
  left: 0px;
  position: absolute;
  top: 98px;
  width: 1280px;
}

.desktop-2 .rectangle-18-9Mbqq5 {
  background-color: var(--white);
  height: 98px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1280px;
}

.desktop-2 .leoescobar-9Mbqq5 {
  background-color: transparent;
  height: 48px;
  left: 38px;
  object-fit: cover;
  position: absolute;
  top: 25px;
  width: 100px;
}

.desktop-2 .home-9Mbqq5 {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 1169px;
  object-fit: cover;
  position: absolute;
  top: 49px;
  width: 66px;
}

.desktop-2 .happy-handpokers-9Mbqq5 {
  background-color: transparent;
  height: 44px;
  left: 38px;
  object-fit: cover;
  position: absolute;
  top: 166px;
  width: 203px;
}

.desktop-2 .website-and-applicat-9Mbqq5 {
  background-color: transparent;
  height: 45px;
  left: 555px;
  object-fit: cover;
  position: absolute;
  top: 655px;
  width: 275px;
}

.desktop-2 .gra-321-9Mbqq5 {
  background-color: transparent;
  height: 15px;
  left: 1177px;
  object-fit: cover;
  position: absolute;
  top: 798px;
  width: 48px;
}

.desktop-2 .scroll-group-11-9Mbqq5::-webkit-scrollbar {
  display: none;
  width: 0;
}

.desktop-2 .scroll-group-11-9Mbqq5 {
  background-color: transparent;
  height: 459px;
  left: 555px;
  mix-blend-mode: normal;
  overflow-x: scroll;
  position: absolute;
  top: 166px;
  width: 680px;
}

.desktop-2 .rectangle-25-LKyxSC {
  background-color: var(--white);
  height: 459px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.desktop-2 .rectangle-26-LKyxSC {
  background-color: var(--white);
  height: 459px;
  left: 340px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.desktop-2 .screen-shot-2022-05-01-at-111256-pm-LKyxSC {
  background-color: transparent;
  height: 94px;
  left: 48px;
  object-fit: cover;
  position: absolute;
  top: 86px;
  width: 119px;
}

.desktop-2 .screen-shot-2022-05-01-at-111305-pm-LKyxSC {
  background-color: transparent;
  height: 102px;
  left: 48px;
  object-fit: cover;
  position: absolute;
  top: 185px;
  width: 119px;
}

.desktop-2 .screen-shot-2022-05-01-at-111323-pm-LKyxSC {
  background-color: transparent;
  height: 132px;
  left: 173px;
  object-fit: cover;
  position: absolute;
  top: 86px;
  width: 119px;
}

.desktop-2 .rectangle-27-LKyxSC {
  background-color: var(--white);
  height: 459px;
  left: 680px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.desktop-2 .screen-shot-2022-04-25-at-101620-pm-LKyxSC {
  background-color: transparent;
  height: 107px;
  left: 437px;
  object-fit: cover;
  position: absolute;
  top: 86px;
  width: 146px;
}

.desktop-2 .screen-shot-2022-04-25-at-101633-pm-LKyxSC {
  background-color: transparent;
  height: 89px;
  left: 437px;
  object-fit: cover;
  position: absolute;
  top: 197px;
  width: 143px;
}

.desktop-2 .screen-shot-2022-04-25-at-101640-pm-LKyxSC {
  background-color: transparent;
  height: 89px;
  left: 437px;
  object-fit: cover;
  position: absolute;
  top: 290px;
  width: 146px;
}

.desktop-2 .screen-shot-2022-04-25-at-101711-pm-LKyxSC {
  background-color: transparent;
  height: 293px;
  left: 806px;
  object-fit: cover;
  position: absolute;
  top: 86px;
  width: 89px;
}
