/* screen - desktop-4 */

.desktop-4 {
  background-color: var(--white);
  height: 892px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 1280px;
}

.desktop-4 .rectangle-17-ZwZd20 {
  background-color: var(--white);
  height: 797px;
  left: 0px;
  position: absolute;
  top: 98px;
  width: 1280px;
}

.desktop-4 .rectangle-18-ZwZd20 {
  background-color: var(--white);
  height: 98px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1280px;
}

.desktop-4 .leoescobar-ZwZd20 {
  background-color: transparent;
  height: 48px;
  left: 38px;
  object-fit: cover;
  position: absolute;
  top: 25px;
  width: 100px;
}

.desktop-4 .home-ZwZd20 {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 1169px;
  object-fit: cover;
  position: absolute;
  top: 49px;
  width: 66px;
}

.desktop-4 .pizza-braid-ZwZd20 {
  background-color: transparent;
  height: 22px;
  left: 38px;
  object-fit: cover;
  position: absolute;
  top: 166px;
  width: 118px;
}

.desktop-4 .mobile-application-d-ZwZd20 {
  background-color: transparent;
  height: 30px;
  left: 555px;
  object-fit: cover;
  position: absolute;
  top: 655px;
  width: 259px;
}

.desktop-4 .gra-361-ZwZd20 {
  background-color: transparent;
  height: 15px;
  left: 1187px;
  object-fit: cover;
  position: absolute;
  top: 798px;
  width: 48px;
}

.desktop-4 .scroll-group-9-ZwZd20::-webkit-scrollbar {
  display: none;
  width: 0;
}

.desktop-4 .scroll-group-9-ZwZd20 {
  background-color: transparent;
  height: 459px;
  left: 555px;
  mix-blend-mode: normal;
  overflow-x: scroll;
  position: absolute;
  top: 166px;
  width: 680px;
}

.desktop-4 .rectangle-19-azNNBK {
  background-color: var(--white);
  height: 459px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.desktop-4 .x20-azNNBK {
  background-color: transparent;
  height: 288px;
  left: 58px;
  object-fit: cover;
  position: absolute;
  top: 86px;
  width: 222px;
}

.desktop-4 .rectangle-40-azNNBK {
  background-color: var(--white);
  height: 459px;
  left: 340px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.desktop-4 .path-13-azNNBK {
  background-color: transparent;
  height: 1px;
  left: 680px;
  object-fit: cover;
  position: absolute;
  top: 459px;
  width: 340px;
}

.desktop-4 .rectangle-41-azNNBK {
  background-color: var(--white);
  height: 459px;
  left: 680px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.desktop-4 .rectangle-43-azNNBK {
  background-color: var(--white);
  height: 459px;
  left: 1020px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.desktop-4 .rectangle-44-azNNBK {
  background-color: var(--white);
  height: 459px;
  left: 1360px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.desktop-4 .rectangle-45-azNNBK {
  background-color: var(--white);
  height: 459px;
  left: 1700px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.desktop-4 .rectangle-46-azNNBK {
  background-color: var(--white);
  height: 459px;
  left: 2040px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.desktop-4 .rectangle-47-azNNBK {
  background-color: var(--white);
  height: 459px;
  left: 2380px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.desktop-4 .rectangle-48-azNNBK {
  background-color: var(--white);
  height: 459px;
  left: 2720px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.desktop-4 .x21-azNNBK {
  background-color: transparent;
  height: 288px;
  left: 399px;
  object-fit: cover;
  position: absolute;
  top: 86px;
  width: 222px;
}

.desktop-4 .x33-azNNBK {
  background-color: transparent;
  height: 288px;
  left: 739px;
  object-fit: cover;
  position: absolute;
  top: 101px;
  width: 222px;
}

.desktop-4 .phone-mockup-1-azNNBK {
  background-color: transparent;
  height: 326px;
  left: 1061px;
  object-fit: cover;
  position: absolute;
  top: 82px;
  width: 736px;
}

.desktop-4 .phone-mockup-2-azNNBK {
  background-color: transparent;
  height: 326px;
  left: 1683px;
  object-fit: cover;
  position: absolute;
  top: 82px;
  width: 736px;
}

.desktop-4 .phone-mockup-2-copy-azNNBK {
  background-color: transparent;
  height: 326px;
  left: 2306px;
  object-fit: cover;
  position: absolute;
  top: 82px;
  width: 736px;
}
