:root { 
  --dove-gray: #707070;
  --log-cabin: #222222;
  --white: #ffffff;
 
  --font-size-m: 20px;
 
  --font-family-montserrat: "Montserrat", Helvetica;
}
.montserrat-normal-white-20px {
  color: var(--white);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.border-0-2px-dove-gray {
  border: 0.2px solid var(--dove-gray);
}

.border-0-2px-log-cabin {
  border: 0.2px solid var(--log-cabin);
}
