@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Work+Sans:wght@300;400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Work+Sans:wght@300;400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li, a {
    font-family: "Work Sans", sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: #ffffff;
    text-decoration: none;
}

li2 {
    font-family: "Work Sans", sans serif;
    font-weight: 400;
    font-size: 18px;
    color: #6E2604;
    text-align: center;
    padding: 10rem,
}

h1 {
    font-family: "Lobster", sans-serif;
    font-size: 67px;
    color: #ffffff;
    cursor: pointer;
}

h2 {
    font-family: "Work Sans", sans-serif;
    font-weight: 700;
    font-size: 45px;
    color: #6E2604;
    text-align: center;
    padding: 3rem;
}

header {
    display: flex;
    justify-content: space-between;
    align-items:flex-end;
    padding: 30px 10%;
    transition: all 0.3s ease 0s;
    background-color: #6E2604
}


.nav-links {
    list-style: none;
}

.nav-links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav-links li a {
    transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
    color: #F6DBA7
}

td,
th {
    padding: 20px;
}

td {
    text-align: center;
}

caption {
    padding: 10px;
    caption-side: top;
    font-family: "Work Sans", sans serif;
    font-weight: 700;
    font-size: 48px;
}

table {
    border-collapse: collapse;
    letter-spacing: 1px;
    font-family: "Work Sans", sans serif;
    font-weight: 400;
    font-size: 18px;
    text-align: center
}
